## Import Libraries

In [20]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Assumption

The data must be normally distributed.

## Read the data

In [21]:
data_frame = pd.read_csv("Data.csv")

In [22]:
data_frame

   Before  After
0     2.0    1.7
1     1.4    1.7
2     1.3    1.8
3     1.1    1.3
4     1.8    1.7
5     1.6    1.5
6     1.5    1.6
7     0.7    1.7
8     0.9    1.7
9     1.5    2.4

In [23]:
data_frame['Difference'] = data_frame.iloc[:, 1] - data_frame.iloc[:, 0]

In [24]:
data_frame

   Before  After  Difference
0     2.0    1.7        -0.3
1     1.4    1.7         0.3
2     1.3    1.8         0.5
3     1.1    1.3         0.2
4     1.8    1.7        -0.1
5     1.6    1.5        -0.1
6     1.5    1.6         0.1
7     0.7    1.7         1.0
8     0.9    1.7         0.8
9     1.5    2.4         0.9

## Mean

In [26]:
data_frame.mean()

Before        1.38
After         1.71
Difference    0.33
dtype: float64

## Median

In [25]:
data_frame.median()

Before        1.45
After         1.70
Difference    0.25
dtype: float64

## Verify

In [27]:
from scipy import stats

In [29]:
# Calculate Confidence intervals when Population variance is unknown using t-score (student t distribution)

mean, standard_deviation = data_frame['Difference'].mean(), data_frame['Difference'].std()

# Sample standard error
standard_error = stats.sem(data_frame['Difference']) #sem = standard error of means

#population standard error
#standard_error = sigma / np.sqrt(len(data_frame))

#conf_int = stats.norm.interval(0.90, loc=mean, scale=standard_error)
conf_int = stats.t.interval(0.95, len(data_frame['Difference'])-1, loc=mean, scale=standard_error)

In [30]:
conf_int

(0.00470700883907349, 0.6552929911609264)

With 95% confidence we can say that the true mean of the "value" will fall between this confidence interval.
The whole interval is positive, true mean of the difference is definatively positive.
with 95% certinity we can say that the level of Mg in the blood is higher.

We are 95% confident that after taking the pill the Mg in the blood will be between the confidence interval. Hence the pill is effective

In [31]:
standard_deviation

0.45472824607426554

In [33]:
standard_error

0.14379769740081993