In [1]:
import numpy as np

In [2]:
mat = np.arange(1,26).reshape(5,5)

In [7]:
mat[:3,1:2]

array([[ 2],
       [ 7],
       [12]])

In [8]:
d={"John":40,"Peter":45}

In [9]:
del d['John']

In [10]:
d

{'Peter': 45}

In [11]:
mat

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

In [12]:
mat.sum(axis=0)

array([55, 60, 65, 70, 75])

In [14]:
x= int('Kartik'/2)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [15]:
arr = [(12,3,4),(122,2,12)]

In [151]:
np.random.randint(3)

0

In [79]:
tup = (1,2,3,4)

In [80]:
tup

(1, 2, 3, 4)

In [81]:
del tup

In [82]:
tup

NameError: name 'tup' is not defined