In [4]:
import pandas as pd
sal = pd.read_excel('SF Salaries Data Project.xlsx')

In [6]:
sal[sal['EmployeeName'] == 'Christopher']

Empty DataFrame
Columns: [Id, EmployeeName, JobTitle, BasePay, OvertimePay, OtherPay, Benefits, TotalPay, TotalPayBenefits, Year, Age]
Index: []

In [7]:
tweet = 'Go Sports! #Sports'
tweet.split('#')

['Go Sports! ', 'Sports']

In [12]:
sal['Benefits'] = lambda x : x**2,sal['OvertimePay']

ValueError: Length of values does not match length of index

In [14]:
(1 == 1) or (2 == 2) or (4 == 3)

True

In [17]:
sal[(sal['Age']>=0) & (sal['Age']<18)].count()

Id                  33
EmployeeName        33
JobTitle            33
BasePay             33
OvertimePay         33
OtherPay            33
Benefits             0
TotalPay            33
TotalPayBenefits    33
Year                33
Age                 33
dtype: int64

In [19]:
sal[sal['Age'] == null]

NameError: name 'null' is not defined