## Import Libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Read the data

In [3]:
data_frame = pd.read_csv("Data.csv")

In [4]:
data_frame

   Annual income
0        78000.0
1        90000.0
2        75000.0
3       117000.0
4       105000.0
5        96000.0
6        89500.0
7       102300.0
8        80000.0

## Mean

In [5]:
data_frame.mean()

Annual income    92533.333333
dtype: float64

## Median

In [6]:
data_frame.median()

Annual income    90000.0
dtype: float64

## Verify

In [7]:
from scipy import stats

In [8]:
# Calculate Confidence intervals when Population variance is unknown using t-score (student t distribution)

mean, standard_deviation = data_frame.mean().iloc[0], data_frame.std()[0]

# Sample standard error
standard_error = stats.sem(data_frame)[0] #sem = standard error of means

#population standard error
#standard_error = sigma / np.sqrt(len(data_frame))

#conf_int = stats.norm.interval(0.90, loc=mean, scale=standard_error)
conf_int = stats.t.interval(0.95, len(data_frame)-1, loc=mean, scale=standard_error)

In [10]:
conf_int

(81824.33631056547, 103242.33035610119)

In [9]:
standard_deviation

13931.887883556918